{{ template "acme-challenge" .Env.HOST }}
{{ template "acme-challenge" .Env.ALTERNATIVE_HOST }}

server {
    server_name {{ getenv "ALTERNATIVE_HOST" }} www.{{ getenv "ALTERNATIVE_HOST" }};

    {{ template "ssl-enabled" .Env.ALTERNATIVE_HOST }}

    return 301 https://{{ getenv "HOST" }}$request_uri;
}

server {
    server_name {{ getenv "HOST" }} www.{{ getenv "HOST" }};
    root /srv/main;

    {{ template "ssl-enabled" .Env.HOST }}

    include /etc/nginx/security-headers.conf;

    location / {
        rewrite ^([^.\?]*[^/])$ $1/ permanent;
        try_files $uri $uri/ $uri/index.html =404;

        gzip_static on;
        expires off;

        # add_header resets headers
        include /etc/nginx/security-headers.conf;
        add_header Cache-Control "no-store";
    }

    location ^~ /static/  {
        gzip_static on;
        expires max;

        # add_header resets headers
        include /etc/nginx/security-headers.conf;
        add_header Cache-Control public;
    }
}
