upstream shelf2 {
    server shelf2:3000 max_fails=1 fail_timeout=15s;
}

{{ template "acme-challenge" .Env.SHELF2_HOST }}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name {{ getenv "SHELF2_HOST" }};

    keepalive_timeout 5;
    root /srv/shelf2_public;

    client_max_body_size 10M;

    ssl_certificate           /cert/live/{{ getenv "SHELF2_HOST" }}/fullchain.pem;
    ssl_certificate_key       /cert/live/{{ getenv "SHELF2_HOST" }}/privkey.pem;
    ssl_trusted_certificate   /cert/live/{{ getenv "SHELF2_HOST" }}/chain.pem;

    include /etc/nginx/security-headers.conf;
    add_header Content-Security-Policy "default-src 'self'; connect-src 'self' {{ getenv "AUTH0_HOST" }}; img-src 'self' data:; script-src 'self'; style-src 'self' 'unsafe-inline'";

    location / {
        try_files $uri /index.html;
    }

    location ^~ /rest/ {
        proxy_pass http://shelf2;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_redirect off;
    }

    location ^~ /static/  {
        gzip_static on;
        expires max;

        # add_header resets headers
        include /etc/nginx/security-headers.conf;
        add_header Cache-Control public;
    }

    location = /favicon.ico {
        expires max;
        add_header Cache-Control public;
    }
}
