upstream cookery2 {
    server cookery2:4003 max_fails=1 fail_timeout=15s;
}

{{ template "acme-challenge" .Env.COOKERY2_HOST }}

server {
    server_name {{ getenv "COOKERY2_HOST" }};
    {{ template "ssl-listen" 443 }}

    root /srv/cookery2_public;

    {{ template "acme-certificate" .Env.COOKERY2_HOST }}
    include /etc/nginx/includes/ssl-settings.conf;

    keepalive_timeout 5;
    client_max_body_size 10M;

    include /etc/nginx/includes/security-headers.conf;
    add_header Content-Security-Policy "default-src 'self'; connect-src 'self' {{ getenv "AUTH0_HOST" }}; img-src 'self' data:; script-src 'self'; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; font-src 'self' https://fonts.googleapis.com https://fonts.gstatic.com";

    location / {
        try_files $uri /index.html;
    }

    location ~ (/swagger|/webjars|/v2/api-docs) {
        proxy_pass http://cookery2;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_redirect off;
    }

    location ^~ /rest/ {
        proxy_pass http://cookery2;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_redirect off;
    }

    location ^~ /static/  {
        gzip_static on;
        expires max;

        # add_header resets headers
        include /etc/nginx/includes/security-headers.conf;
        add_header Cache-Control public;
    }

    location = /favicon.ico {
        expires max;
        add_header Cache-Control public;
    }
}
