upstream echo {
    server echo:4000 max_fails=1 fail_timeout=15s;
}

{{ template "acme-challenge" .Env.ECHO_HOST }}

server {
    server_name {{ getenv "ECHO_HOST" }};
    {{ template "ssl-listen" 443 }}

    {{ template "acme-certificate" .Env.ECHO_HOST }}
    include /etc/nginx/includes/ssl-settings.conf;

    keepalive_timeout 5;
    client_max_body_size 10M;

    location / {
        proxy_pass http://echo;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_redirect off;
    }
}
